@import 'tailwindcss';

@theme {
  --font-redhat: "Red Hat Text", sans-serif;
  /* primary */
  --color-grayish-blue: hsl(237, 18%, 59%);
  --color-soft-red: hsl(345, 95%, 68%);
  /* neutral */
  --color-dark-desat-blue: hsl(236, 21%, 26%);
  --color-darker-desat: hsl(236, 21%, 20%);
  --color-very-dark-blue: hsl(235, 16%, 14%);
  --color-bluish-black: hsl(234, 17%, 12%);
}

body {
  @apply font-redhat text-grayish-blue font-bold text-sm h-screen bg-very-dark-blue;
}

.cutout-top {
  clip-path: polygon(0 0,
      100% 0,
      100% calc(100% - 7px),
      calc(100% - 7px) 100%,
      7px 100%,
      0 calc(100% - 7px),
      0 0);
}

.cutout-bottom {
  clip-path: polygon(0 7px,
      7px 0,
      calc(100% - 7px) 0,
      100% 7px,
      100% 100%,
      0 100%);
}

/* Targets the calendar icon in Chrome/Edge/Safari */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    /* This filter turns black/gray into white */
    filter: invert(100%) brightness(100%) contrast(100%);
}