@import 'tailwindcss';

@theme {
  --font-redhat: "Red Hat Text", sans-serif;
  /* primary */
  --color-grayish-blue: hsl(237, 18%, 59%);
  --color-soft-red: hsl(345, 95%, 68%);
  /* neutral */
  --color-dark-desat-blue: hsl(236, 21%, 26%);
  --color-very-dark-blue: hsl(235, 16%, 14%);
  --color-bluish-black: hsl(234, 17%, 12%);
}

body {
  @apply font-redhat font-bold text-sm;
}

/* Your CSS file */
.animated {
  animation: flash-pulse 0.4s ease-out; /* The animation runs for 0.4 seconds */
}

@keyframes flash-pulse {
  0% { transform: scale(1); opacity: 1; }
  50% { transform: scale(1.1); opacity: 0.8; }
  100% { transform: scale(1); opacity: 1; }
}